.toc {
  @apply py-2 pr-3;

  .toc-list .toc-list {
    @apply border-l-2 border-muted ml-5;
  }

  .toc-link {
    --lightgray: 211 211 211;
    @apply flex text-sm w-[100%] py-1 relative pl-9 hover:text-foreground text-muted-foreground font-bold;
    &:before {
      @apply content-[''] w-[10px] h-[10px] border-2 border-card rounded-full top-2 left-4 bg-card absolute shadow-[0_0_0_2px_rgb(var(--lightgray))];
    }
  }

  .node-name--H3,
  .node-name--H4,
  .node-name--H5,
  .node-name--H6 {
    @apply text-xs font-normal;
    &:before {
      @apply content-[''] w-[6px] h-[6px] border-2 border-card rounded-full top-2 left-[18px] bg-card absolute shadow-[0_0_0_2px_rgb(var(--lightgray))];
    }
  }

  .is-active-link {
    --dodgerblue: 30 144 255;
    @apply font-bold text-foreground;
    &:before {
      @apply bg-primary outline-primary shadow-[0_0_0_1px_rgb(var(--dodgerblue))];
    }
  }
}

/* .toc {
  @apply py-2 pr-3;

  .toc-list .toc-list {
    @apply border-l-2 border-muted ml-5;
  }

  .toc-link {
    --lightgray: 211 211 211;
    @apply flex text-sm w-[100%] py-1.5 relative pl-9 hover:text-foreground text-muted-foreground;
    &:before {
      @apply content-[''] w-[10px] h-[10px] border-2 border-card rounded-full top-3 left-4 bg-card absolute shadow-[0_0_0_2px_rgb(var(--lightgray))];
    }
  }

  .is-active-link {
    --dodgerblue: 30 144 255;
    @apply font-bold text-foreground;
    &:before {
      @apply bg-primary outline-primary shadow-[0_0_0_1px_rgb(var(--dodgerblue))];
    }
  }
} */
