/* グローバルに設定する共通cssは、ここで定義 */

body {
  --sb-track-color: #cdcdce;
  --sb-thumb-color: #4d5250;
  --sb-size: 12px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 6px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
